In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('../movielens/ml-20m/ratings.csv')
link = pd.read_csv('../movielens/ml-20m/links.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [3]:
rating_with_link=pd.merge(ratings,link,on='movieId')

In [4]:
rating_with_link.head()

   userId  movieId  rating   timestamp  imdbId  tmdbId
0       1        2     3.5  1112486027  113497  8844.0
1       5        2     3.0   851527569  113497  8844.0
2      13        2     3.0   849082742  113497  8844.0
3      29        2     3.0   835562174  113497  8844.0
4      34        2     3.0   846509384  113497  8844.0

In [5]:
rating_with_imdbId=rating_with_link[['userId','imdbId','rating','timestamp']]

In [8]:
tem=rating_with_imdbId[rating_with_imdbId['userId']==16]

In [6]:
rating_with_imdbId.head()

   userId  imdbId  rating   timestamp
0       1  113497     3.5  1112486027
1       5  113497     3.0   851527569
2      13  113497     3.0   849082742
3      29  113497     3.0   835562174
4      34  113497     3.0   846509384

In [6]:
rating_list=[]
for index, row  in rating_with_imdbId.iterrows():
    rating_list.append((index+1,int(row['userId']),int(row['imdbId']),row['rating']))

In [7]:
rating_with_imdbId.to_csv("../movielens/ml-20m/rating_with_imdbId.csv")

In [9]:
print(rating_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)